# Accessing scores

In [1]:
from astropy.table import Table
scores = Table.read('path/to/outlier_scores_alt.txt', format="ascii")
scores.to_pandas(index='KIC')

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17
KIC,,,,,,,,,,,,,,,,,
757076,0.015303,0.019877,0.022946,0.014572,0.014234,0.062849,0.041315,0.012170,0.026714,0.029976,0.072361,0.015433,0.045025,0.054853,0.026745,0.028916,0.055103
757099,0.082084,0.237729,0.140138,0.139494,0.101830,0.420027,0.256869,0.122384,0.118205,0.126376,0.274779,0.160711,0.144028,0.190223,0.166150,0.142809,0.260388
757137,0.016864,0.023456,0.018908,0.041950,0.022630,0.074191,0.091698,0.035786,0.023939,0.026814,0.087818,0.036845,0.026798,0.022536,0.027014,0.062150,0.079512
757280,0.022585,0.023064,0.033989,0.026369,0.021446,0.087011,0.075890,0.039236,0.047401,0.061910,0.039510,0.019405,0.015227,0.016817,0.021786,0.049296,0.046118
757450,0.066175,0.064266,0.082788,0.061520,0.086468,0.326428,0.248531,0.101246,0.102235,0.078644,0.159495,0.079545,0.093485,0.078761,0.079214,0.061144,0.141890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100004295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043560
100004297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.092211
100004298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.669797
100004299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.137771
100004300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.058877

## Example of organizing data to see the most outlying objects in Quarter 16

In [2]:
scores_df = scores.to_pandas(index='KIC')

In [3]:
ranks_by_Q16 = scores_df.rank(ascending=False).sort_values(by='Q16')
ranks_by_Q16

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17
KIC,,,,,,,,,,,,,,,,,
10057002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,1.0,1.0
11968505,87426.0,40165.0,64971.0,58905.0,147.0,9484.0,65252.0,6105.0,54905.0,41007.0,5663.0,27514.0,50240.0,10363.0,46311.0,2.0,95714.0
100004181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
10678185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,13.0
10053146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100004295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78087.0
100004297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21547.0
100004298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,593.0
100004299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9720.0
100004300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48418.0

# Accessing and using supplemental files

## If looking for a specific KIC

### Finding the specific fits file

In [4]:
import pandas as pd
fits_files = pd.read_csv('path/to/Kepler_fits_files.csv',index_col='KIC')
fits_files.loc[8462852,'Q16']

'kplr008462852-2013098041711_llc.fits'

### Getting available information about the target

In [5]:
KIC_summary = pd.read_csv('path/to/KIC_Summary.csv',index_col='KIC')
KIC_summary.loc[8462852,:]

median_rank                                                          10032
most_outlying_rank                                                    1266
most_outlying_quarter                                                   Q8
OTYPE                                                                 Star
RA                                                           20 06 15.4527
DEC                                                          +44 27 24.791
BIBLIO                   2019A&A...625L..13Z|2019AJ....157...40F|2019AJ...
Name: 8462852, dtype: object

## If looking for KICs from organized dataframe where indices are KICs

In [6]:
fits_files.loc[ranks_by_Q16.index[:5],'Q16']

KIC
10057002     kplr010057002-2013098041711_llc.fits
11968505     kplr011968505-2013098041711_llc.fits
100004181    kplr100004181-2013098041711_llc.fits
10678185     kplr010678185-2013098041711_llc.fits
10053146     kplr010053146-2013098041711_llc.fits
Name: Q16, dtype: object

### NaN values indicate that the source is  unavailable from the SIMBAD Database

In [7]:
KIC_summary.loc[ranks_by_Q16.index[:5],:]

,median_rank,most_outlying_rank,most_outlying_quarter,OTYPE,RA,DEC,BIBLIO
KIC,,,,,,,
10057002,1.0,1.0,Q14,PM*,18 52 31.7260,+47 02 14.023,2018A&A...619L...8R|2016MNRAS.457.2877G
11968505,44739.0,2.0,Q16,Star,19 37 26.2349,+50 18 47.320,2016A&A...594A..39F
100004181,3.0,3.0,Q16,NaN,NaN,NaN,NaN
10678185,8.5,4.0,Q16,NaN,NaN,NaN,NaN
10053146,4.0,2.0,Q15,NaN,NaN,NaN,NaN