In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame([[10.,29.,30.],[1,2,3],[1,2,3]],\
                  index=['alpha','bravo','charlie'],\
                  columns=['a','b','c'])

In [114]:
files = df.index
filesSample = np.random.choice(files, 2, replace=False)
dataSample = df.loc[filesSample]
dataSample

           a    b    c
charlie  1.0  2.0  3.0
bravo    1.0  2.0  3.0

In [85]:
from sklearn import preprocessing
scaler = preprocessing.StandardScaler().fit(df)
X = scaler.transform(df)

In [131]:
df2 = df.append(dataSample)

In [132]:
df2

            a     b     c
alpha    10.0  29.0  30.0
bravo     1.0   2.0   3.0
charlie   1.0   2.0   3.0
charlie   1.0   2.0   3.0
bravo     1.0   2.0   3.0

In [159]:
df.index.str.contains('cat').all()

False

In [174]:
df[df.index.str.contains('alp')]

          a     b     c
alpha  10.0  29.0  30.0

In [182]:
arr = np.array([[11,22],[11,22],[11,22]])

In [205]:
df['f']=arr.T[1]
df['e']=arr.T[0]
df

            a     b     c   f   e
alpha    10.0  29.0  30.0  22  11
bravo     1.0   2.0   3.0  22  11
charlie   1.0   2.0   3.0  22  11

In [230]:
df[['a','c']]

            a     c
alpha    10.0  30.0
bravo     1.0   3.0
charlie   1.0   3.0

In [218]:
df[df.c==3].index

Index([u'bravo', u'charlie'], dtype='object')

In [219]:
df.index.str.contains('cat')

array([False, False, False], dtype=bool)

In [50]:
for i in df[df.b==2][df.columns[:-1]]:
    print i

a
b

In [57]:
center = [4,4]
df2=(df[df.b==2][df.columns[:-1]]-center)**2
dfsum = df2.iloc[0].sum()